# DS-SF-30 | Unit Project 1: Research Design

In this first unit project you will create a framework to scope out data science projects.  This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

## Part A.  Evaluate the following problem statement:

> "Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and `activity score 1 = active user`, `0 = inactive user`) based on Hooli data from January-April 2015."

> ### Question 1.  What is the outcome?

Answer: A list of free-tier customers who have converted into paying customers.

> ### Question 2.  What are the predictors/covariates?

Answer: Age, gender, location, profession, days since last log in, active user, inactive user

> ### Question 3.  What timeframe is this data relevent for?

Answer:  January-April 2015

> ### Question 4.  What is the hypothesis?

Answer: Demographic data collected at signup and customer useage data will help predict whether a free-tier customer will convert into a paying customer.  

A possible hypothesis: Free-tier customers will convert to paying ones if the following conditions are met: Males or female mid-20s or older; active listeners; profession is other than Student; and last login is one day.

## Part B.  Let's start exploring our UCLA dataset and answer some simple questions:

In [5]:
import os
import pandas as pd

df = pd.read_csv('dataset-ucla-admissions.csv')

df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

In [16]:
df.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000         NaN        NaN         NaN
50%      0.000000         NaN        NaN         NaN
75%      1.000000         NaN        NaN         NaN
max      1.000000  800.000000    4.00000    4.000000

In [17]:
df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
5        1  760.0  3.00       2.0
6        1  560.0  2.98       1.0
7        0  400.0  3.08       2.0
8        1  540.0  3.39       3.0
9        0  700.0  3.92       2.0
10       0  800.0  4.00       4.0
11       0  440.0  3.22       1.0
12       1  760.0  4.00       1.0
13       0  700.0  3.08       2.0
14       1  700.0  4.00       1.0
15       0  480.0  3.44       3.0
16       0  780.0  3.87       4.0
17       0  360.0  2.56       3.0
18       0  800.0  3.75       2.0
19       1  540.0  3.81       1.0
20       0  500.0  3.17       3.0
21       1  660.0  3.63       2.0
22       0  600.0  2.82       4.0
23       0  680.0  3.19       4.0
24       1  760.0  3.35       2.0
25       1  800.0  3.66       1.0
26       1  620.0  3.61       1.0
27       1  520.0  3.74       4.0
28       1  780.0  3.22       2.0
29       0  520.0  3.29       1.0
..     ...    ...   ...       ...
370      1  540.0  3.77       2.0
371      1  680.0  3.76       3.0
372      1  680.0  2.42       1.0
373      1  620.0  3.37       1.0
374      0  560.0  3.78       2.0
375      0  560.0  3.49       4.0
376      0  620.0  3.63       2.0
377      1  800.0  4.00       2.0
378      0  640.0  3.12       3.0
379      0  540.0  2.70       2.0
380      0  700.0  3.65       2.0
381      1  540.0  3.49       2.0
382      0  540.0  3.51       2.0
383      0  660.0  4.00       1.0
384      1  480.0  2.62       2.0
385      0  420.0  3.02       1.0
386      1  740.0  3.86       2.0
387      0  580.0  3.36       2.0
388      0  640.0  3.17       2.0
389      0  640.0  3.51       2.0
390      1  800.0  3.05       2.0
391      1  660.0  3.88       2.0
392      1  600.0  3.38       3.0
393      1  620.0  3.75       2.0
394      1  460.0  3.99       3.0
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[400 rows x 4 columns]

> ### Question 5.  Create a data dictionary.

Answer: 

Variable | Description | Type of Variable
---|---|---
admit | 0 = Not admitted, 1 = Admitted | Categorical
gre | Graduate Record Examination test score | Continuous
gpa | Grade Point Average | Continuous
prestige | Prestige ranking of undergraduate school 1 = highest, 4 = lowest | Categorical

> ### Question 6.  What is the outcome?

Answer: A list of students admitted to UCLA.

> ### Question 7.  What are the predictors/covariates?

Answer: gre, gpa, prestige

> ### Question 8.  What timeframe is this data relevent for?

Answer:  Unknown.

> ### Question 9.  What is the hypothesis?

Answer: Students will be admitted to UCLA if their gre, gpa and undergrad school prestige are high.

> ### Question 10.  What's the problem statement?

> Using your answers to the above questions, write a well-formed problem statement.

Answer:  Many top universities are facing an excess of applications for graduate school than available slots. UCLA is such a university and will make it's selection process more efficient.  Using gre test scores, gpa and undergraduate school rankings from period xxxx to xxxx, UCLA will determine which students will be admitted to UCLA.

## Part C.  Create an exploratory analysis plan by answering the following questions:

Because the answers to these questions haven't yet been covered in class yet, this section is optional.  This is by design.  By having you guess or look around for these answers will help make sense once we cover this material in class.  You will not be penalized for wrong answers but we encourage you to give it a try!

> ### Question 11. What are the goals of the exploratory analysis?

Answer:

> ### Question 12.  What are the assumptions of the distribution of data?

Answer:

> ### Question 13.  How will determine the distribution of your data?

Answer:

> ### Question 14.  How might outliers impact your analysis?

Answer:

> ### Question 15.  How will you test for outliers?

Answer:

> ### Question 16.  What is colinearity?

Answer:

> ### Question 17.  How will you test for covariance?

Answer:

> ### Question 18.  What is your exploratory analysis plan?

> Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: